@value variables: "../../../../../variables/variables.module.css";

@value primaryDark, secondary, primaryLight from variables;

.ReviewItemName {
  padding-bottom: 10px;
  margin-left: 20px;
  font-weight: bold;
}

.ReviewItemText {
  padding: 10px 20px;
  text-indent: 10px;
}

.ReviewItemText:first-letter {
  font-size: 20px;
  font-weight: bold;
}

.ReviewItemAnswer {
  text-align: right;
}

.ReviewItemHR {
  border: 1px solid primaryLight;
  width: 96%;
}

.ReviewItem Button {
  border: 1px solid primaryLight;
  border-radius: 12px;
  background-color: secondary;
  cursor: pointer;
  color: primaryLight;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 5px 16px;
  transition: 0.3s ease;
}

.ReviewItem Button:hover {
  border: 1px solid primaryDark;
  color: primaryDark;
}

.ReviewItemButtonReply {
  float: right;
}

.ReviewItemButtonDelete {
  float: left;
}